<div class="main">
  <div>
    <h4>GET запрос</h4>
    <button mat-raised-button color="primary" (click)="getPosts()">Отправить</button>
  </div>

  <div>
    <h4> GET запрос с params </h4>
    <button mat-raised-button color="primary" (click)="getComment()">Отправить</button>
  </div>

  <div>
    <h4>POST запрос, отправляется пустой объект</h4>
    <button mat-raised-button color="primary" (click)="postBody()">Отправить</button>
  </div>

  <div>
    <h4>GET запрос с обработкой серверных ошибок</h4>
    <button mat-flat-button color="primary" (click)="checkPost()">Отправить</button>
  </div>

  <div>
    <h4>GET запрос с headers, результат в текстовом формате</h4>
    <button mat-raised-button color="primary" (click)="getPost()">Отправить</button>
  </div>

  <div>
    <h4>DELETE запрос </h4>
    <button mat-raised-button color="primary" (click)="deletePost()">Отправить</button>
  </div>

  <div>
    <h4>Resolve Route</h4>
    <button mat-raised-button color="primary" routerLink="/post">Перейти</button>
    <router-outlet></router-outlet>
  </div>
</div>
