<div class="container mt-4">
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-header">
          Управление потоками
        </div>
        <div class="card-body">
          <h5>Обычные числа</h5>
          <button class="btn btn-primary btn-block mb-2" (click)="setDefaultSubscribe()">Запустить поток обычных чисел</button>
          <button class="btn btn-danger btn-block mb-4" (click)="disableDefaultSubscribe()">Остановить поток обычных чисел</button>

          <h5>Случайные числа</h5>
          <button class="btn btn-primary btn-block mb-2" (click)="setRandomSubscribe()">Запустить поток случайных чисел</button>
          <button class="btn btn-danger btn-block mb-4" (click)="disableRandomSubscribe()">Остановить поток случайных чисел</button>

          <h5>Запуск обоих потоков</h5>
          <button class="btn btn-primary btn-block mb-2" (click)="startStreams()">Запустить потоки</button>
          <button class="btn btn-danger btn-block mb-2" (click)="disableDefaultSubscribe()">Остановить поток обычных чисел</button>
          <button class="btn btn-danger btn-block" (click)="disableRandomSubscribe()">Остановить поток случайных чисел</button>

        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="row">
        <div class="col-md-6">
          <table class="table table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>Обычные значения</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let defaultValue of defaultValues">
                <td>{{ defaultValue }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col-md-6">
          <table class="table table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>Случайные значения</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let randomValue of randomValues">
                <td>{{ randomValue }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
