.container {

  width: 1280px;
  margin: 0 80px;


  border-collapse: collapse;


  .main-title {
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    color: rgba(17, 24, 39, 1);
    margin-top: 60px;
    margin-bottom: 16px;
  }

  .tabs {
    display: flex;
    gap: 32px;
    font-family: InterMedium;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: rgba(58, 51, 149, 1);
    margin-bottom: 47px;

    .tab {
      border-bottom: 1px solid black;
      height: 36px;
      color: rgba(107, 114, 128, 1);
      border-bottom: 0px;
      cursor: pointer;
    }

    .tab.active {
      color: rgba(58, 51, 149, 1);
      border-bottom: 2px solid rgba(58, 51, 149, 1);
    }
  }


  .name {
    width: 254px;

  }

  .desc {
    width: 337px;
  }

  .id {
    width: 383px;
  }

  .category {
    width: 141px;
  }

  .actions {
    width: 101px;

    img {
      cursor: pointer;
    }

    img:hover {
      transition: 0.5s ease;
      transform: scale(1.2);
    }
  }


}

table {
  margin-top: 87px;
  margin-left: 16px;
  width: 1216px;
  border: 1px solid rgba(229, 231, 235, 1);
  border-radius: 14px;
}

.table-header {
  height: 40px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: rgba(107, 114, 128, 1);
  background: rgb(250, 250, 250);
  border-bottom: 1px solid rgba(229, 231, 235, 1);

}

td:first-child {
  color: rgba(17, 24, 39, 1);
}

tr:nth-child(even) {
  background: rgb(250, 250, 250);

}

.cell-text {
  padding: 16px 0 16px 24px;
  box-sizing: border-box;
  font-family: InterMedium;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: rgba(107, 114, 128, 1);

  .trash-icon {
    margin-left: 10px;
  }

}
